.product {
  padding: 0;
  .card {
    margin: 15px;
    .card-title {
      height: 50px;
    }
    .btn {
      width: 100%;
      color: #0098d3;
      background-color: transparent;
      border-radius: 50px;

      &:hover {
        background-color: #0098d3;
        border-color: #0098d3;
        color: #ffffff;
        box-shadow: none !important;
      }
    }
  }
}
